@{
    ViewData["Title"] = "Home Page";
}

<h1>Главная страница</h1>
<p>
    Данное web-приложение реализует решение трёх поставленных задач. 
    Форма для управления конкретной задачи находится в соответствующей номеру задачи ссылке.
</p>
<p>
    Что выполнено на текущий момент:    <br />
    1. Выполнены 3 основные задачи.<br />
    2. Реализован сервис, который принимает запрос из контроллера и возвращает ему ответ с решением конкретной задачи.<br />
    3. Реализован контроллер, который выполняет роль посредника между представлением и сервисом.<br />
    4. Реализованы представления для каждой задачи, которые получают и передают данные в соответствующие Get\Post методы контроллера.<br />
    5. Реализованы две основные модели, которые содержат логику решения задач. Две первые задачи, ввиду своей простоты организации, были объединены в модель MyExercise, для третий задачи создана модель MyList.<br />
</p>
