
@{
    ViewData["Title"] = "ThirdExercise";
}

<h2>Задание 3.</h2>
<p>Реализовать приложение C#, которое отсортирует и выведет список целых чисел. Алгоритм сортировки, а также структуру данных, в которой будет производиться сортировка – необходимо написать самостоятельно. Если используется более одной структуры – необходимо написать самостоятельно только одну на выбор. Алгоритм сортировки можно взять любой, (быстрая, пузырьковая, вставками и т.д.), структуру данных так же можно взять любую (лист любого вида, словарь, дерево любого вида и т.д.).</p>

@using (Html.BeginForm())
{
    <div id="arrayBlock">
        <h3>Массив чисел:</h3>
    </div>

    <p><a class="addLink">Добавить новый элемент</a></p>

    @if (Model != null)
    {
        @if (Model.isError)
        {
            <h3>Произошла ошибка при решении задачи:</h3>
            <p>@Model.ErrorString</p>
        }
        else
        {
            <h3>Ответ на задачу:</h3>
            <p>@Model.ResponseData</p>
        }
    }

    <p><input type="submit" value="Решить задачу" /></p>
}

@section Scripts {
    <script>
        $(function () {
            var i = 0;
            $('.addLink').click(function () {
                var html2Add = "<div class='arrayItem'>" +
                    "<h5>Элемент № " + (i + 1) + "</h5>" +
                    "<input type='text' name='requestItems[" + i + "]' />" +
                    "</div></div></div>";
                $('#arrayBlock').append(html2Add);
                i++;
            })
        })
    </script>
}